{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{heading}}</h1>
        <p>{{paragraph}}</p>
        <form action="{% url 'regist_security_code' %}" method="POST">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="セキュリティコードの確認">
        </form>
        <p>{{message|safe}}</p>
        <a href="{% url 'index' %}">トップページへ</a>
    </body>
</html>